<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <!--semantic-ui-->
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link th:href="@{css/qinstyle.css}" rel="stylesheet">
</head>
<body>

<!--主容器-->
<div class="ui container">

    <div class="ui segment" id="index-header-nav" th:fragment="nav-menu">
        <div class="ui secondary menu">
            <a class="item" th:href="@{/}">首页</a>
            <shiro:user>
                <div class="right menu">
                    <span class="item">欢迎<shiro:principal property="rolename"></shiro:principal>:&nbsp;&nbsp;
                        <b><shiro:principal property="userName"></shiro:principal></b></span>
                    <a shiro:hasRole="管理员" class="item" th:href="@{/adminMenu}">
                        <i class="address home icon"></i> 管理员主页
                    </a>
                    <a shiro:hasAnyRoles="医生,普通用户" th:href="@{/userIndex}" class="item">
                        <i class="address home icon"></i> 个人主页
                    </a>
                </div>
            </shiro:user>
            <!--登录注销-->
            <div class="right menu">
                <!--未登录-->
                <shiro:guest>
                    <a class="item" th:href="@{/toLogin}">
                        <i class="address card icon"></i> 登录
                    </a>
                    <a class="item" th:href="@{/adminLoginView}">
                        <i class="address card icon"></i> 管理员登录
                    </a>
                </shiro:guest>
                <shiro:user>
                    <a class="item" th:href="@{/adminCtrl/quit}">
                        <i class="address close red icon"></i> 注销
                    </a>
                </shiro:user>
            </div>
        </div>
    </div>

    <div class="ui segment" style="text-align: center">
        <h3>欢迎来到森林社区医养中心</h3>
    </div>

    <div>
        <br>
        <div class="ui three column stackable grid">
            <div class="column">
                <div class="ui raised segment">
                    <div class="ui">
                        <div class="content">
                            <h5 class="content">预约</h5>
                            <hr>
                            <div><a th:href="@{/1}"><i class="bullhorn icon"></i> 预约服务</a></div>
                            <div><a th:href="@{/2}"><i class="bullhorn icon"></i> 主管医生</a></div>
                            <div><a th:href="@{/3}"><i class="bullhorn icon"></i> 按条件预约</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui raised segment">
                    <div class="ui">
                        <div class="content">
                            <h5 class="content">中心详情</h5>
                            <hr>
                            <div><a th:href="@{/level2/1}"><i class="bullhorn icon"></i> 中心环境</a></div>
                            <div><a th:href="@{/level2/1}"><i class="bullhorn icon"></i> 敬请期待······</a></div>
                            <div><a th:href="@{/level2/1}"><i class="bullhorn icon"></i> 敬请期待······</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui raised segment">
                    <div class="ui">
                        <div class="content">
                            <h5 class="content">联系我们</h5>
                            <hr>
                            <div><a th:href="@{/level3/1}"><i class="bullhorn icon"></i> 地址</a></div>
                            <div><a th:href="@{/level3/2}"><i class="bullhorn icon"></i> 联系电话</a></div>
                            <div><a th:href="@{/level3/3}"><i class="bullhorn icon"></i> 邮箱</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<script th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script th:src="@{/js/semantic.min.js}"></script>

</body>
</html>