<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        #e, #p {
            width: 248px;
        }

        label {
            color: white;
        }

        form {
            width: 80%;
            margin: 0 auto;
            margin-top: 15%;
        }

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url("image/findPwdView.png");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
<form action="" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-offset-3 col-sm-2 control-label">请输入新密码</label>
        <div class="col-sm-4">
            <input id="e" name="password" type="password" class="form-control"
                   placeholder="New-Password">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-3 col-sm-2 control-label">确认新密码</label>
        <div class="col-sm-4">
            <input id="p" type="password" name="subpassword" class="form-control"
                   placeholder="Sub-Password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-2">
            <button type="button" onclick="history.back()" class="btn btn-default">返回</button>
            <button type="button" onclick="rePwd()" style="float: right;" class="btn btn-primary">确认</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    function rePwd() {
        param = {
            newPwd: $("#e").val(),
            subPwd: $("#p").val()
        };
        $.ajax({
            url: 'loginCtrl/rePwd',
            type: 'post',
            data: param,
            success: function (res) {
                if (res.state === 201) {
                    alert(res.message);
                    if (res.message === "两次密码输入不一致") {
                        window.location.reload();
                        return;
                    }
                    window.location.href = "/findPwdView";
                    return;
                }
                alert("修改成功");
                window.location.href = "/";

            }
        });

    }

</script>
</body>
</html>