<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lwk.bysj.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.lwk.bysj.pojo.Permission">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="permission_id" property="permissionId" jdbcType="VARCHAR"/>
        <result column="perm_name" property="permname" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="perms" property="perms"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, permission_id, perm_name, description, perms
    </sql>

    <select id="selectPermsByCurrentUserAccount" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT p.perms
        FROM tb_user u
                 LEFT JOIN tb_user_role ur ON u.uid = ur.user_id
                 LEFT JOIN tb_role r ON ur.role_id = r.id
                 LEFT JOIN tb_role_permission rp ON r.id = rp.role_id
                 LEFT JOIN tb_permission p ON p.id = rp.permission_id
        WHERE u.account = #{account}
    </select>


    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_permission
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from tb_permission
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.lwk.bysj.pojo.Permission">
        insert into tb_permission (id, permission_id, name,
                                   description, perms)
        values (#{id,jdbcType=INTEGER}, #{permissionId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{description,jdbcType=VARCHAR}, #{perms,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.lwk.bysj.pojo.Permission">
        insert into tb_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="permissionId != null">
                permission_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="perms != null">
                perms,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="permissionId != null">
                #{permissionId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="perms != null">
                #{perms,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.lwk.bysj.pojo.Permission">
        update tb_permission
        <set>
            <if test="permissionId != null">
                permission_id = #{permissionId,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="perms != null">
                perms = #{perms,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.lwk.bysj.pojo.Permission">
        update tb_permission
        set permission_id = #{permissionId,jdbcType=VARCHAR},
            name          = #{name,jdbcType=VARCHAR},
            description   = #{description,jdbcType=VARCHAR},
            perms         = #{perms,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>