<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chinasofti.mapper.WareMapper" >
  <resultMap id="BaseResultMap" type="com.chinasofti.pojo.Ware" >
    <id column="wareId" property="wareid" jdbcType="INTEGER" />
    <result column="wareName" property="warename" jdbcType="VARCHAR" />
    <result column="warePosition" property="wareposition" jdbcType="VARCHAR" />
    <result column="wareMax" property="waremax" jdbcType="INTEGER" />
    <result column="wareNow" property="warenow" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    wareId, wareName, warePosition, wareMax, wareNow
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_ware
    where wareId = #{wareid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_ware
    where wareId = #{wareid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chinasofti.pojo.Ware" >
    insert into tb_ware (wareId, wareName, warePosition, 
      wareMax, wareNow)
    values (#{wareid,jdbcType=INTEGER}, #{warename,jdbcType=VARCHAR}, #{wareposition,jdbcType=VARCHAR}, 
      #{waremax,jdbcType=INTEGER}, #{warenow,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chinasofti.pojo.Ware" >
    insert into tb_ware
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wareid != null" >
        wareId,
      </if>
      <if test="warename != null" >
        wareName,
      </if>
      <if test="wareposition != null" >
        warePosition,
      </if>
      <if test="waremax != null" >
        wareMax,
      </if>
      <if test="warenow != null" >
        wareNow,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wareid != null" >
        #{wareid,jdbcType=INTEGER},
      </if>
      <if test="warename != null" >
        #{warename,jdbcType=VARCHAR},
      </if>
      <if test="wareposition != null" >
        #{wareposition,jdbcType=VARCHAR},
      </if>
      <if test="waremax != null" >
        #{waremax,jdbcType=INTEGER},
      </if>
      <if test="warenow != null" >
        #{warenow,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chinasofti.pojo.Ware" >
    update tb_ware
    <set >
      <if test="warename != null" >
        wareName = #{warename,jdbcType=VARCHAR},
      </if>
      <if test="wareposition != null" >
        warePosition = #{wareposition,jdbcType=VARCHAR},
      </if>
      <if test="waremax != null" >
        wareMax = #{waremax,jdbcType=INTEGER},
      </if>
      <if test="warenow != null" >
        wareNow = #{warenow,jdbcType=INTEGER},
      </if>
    </set>
    where wareId = #{wareid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chinasofti.pojo.Ware" >
    update tb_ware
    set wareName = #{warename,jdbcType=VARCHAR},
      warePosition = #{wareposition,jdbcType=VARCHAR},
      wareMax = #{waremax,jdbcType=INTEGER},
      wareNow = #{warenow,jdbcType=INTEGER}
    where wareId = #{wareid,jdbcType=INTEGER}
  </update>
  
  <select id="selectAllWarehouses" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from tb_ware
  </select>
</mapper>