<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        #e, #p, #email, #age, #idnum, #pnum, #n {
            width: 248px;
        }

        form {
            width: 80%;
            margin: 0 auto;
            margin-top: 5%;
        }

        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url("image/login.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
    </style>
</head>
<body>
<form action="/register" method="post" class="form-horizontal" role="form">
    <div class="form-group">
        <label style="color: red" class="col-sm-offset-3 col-sm-2 control-label">带*为必填</label>
        <div class="col-sm-4" style="margin-top: 6px">
            <span  id="msg"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-3 col-sm-2 control-label">*请输入账号</label>
        <div class="col-sm-4">
            <input id="e" name="account" type="text" class="form-control"
                   placeholder="Account">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-3 col-sm-2 control-label">*请输入密码</label>
        <div class="col-sm-4">
            <input id="p" type="password" name="password" class="form-control"
                   placeholder="Password">(密码长度为6-18个字符)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-3 col-sm-2 control-label">*请输入真实姓名</label>
        <div class="col-sm-4">
            <input id="n" type="text" name="userName" class="form-control"
                   placeholder="True-Name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-3 col-sm-2 control-label">*性别</label>
        <div class="col-sm-4">
            <label><input id="b" type="radio" name="gender" checked value="1" class="form-control">男</label>
            <label style="margin-left: 10%"><input id="g" type="radio" name="gender" value="2"
                                                   class="form-control">女</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-3 col-sm-2 control-label">*身份证号</label>
        <div class="col-sm-4">
            <input id="idnum" type="text" name="idNum" class="form-control"
                   placeholder="IdNum">(用于找回密码)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-3 col-sm-2 control-label">*年龄</label>
        <div class="col-sm-4">
            <input id="age" type="text" name="age" class="form-control"
                   placeholder="age">(年龄区间：0~150)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-3 col-sm-2 control-label">电话号码</label>
        <div class="col-sm-4">
            <input id="pnum" type="text" name="telNum" class="form-control"
                   placeholder="TelNum">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-offset-3 col-sm-2 control-label">*邮箱地址</label>
        <div class="col-sm-4">
            <input id="email" type="email" name="email" class="form-control"
                   placeholder="Email">(用于找回密码)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-2">
            <button type="button" onclick="history.back()" class="btn btn-default">返回</button>
            <button type="button" onclick="register('普通用户')" style="float: right;" class="btn btn-primary">确认</button>
        </div>
    </div>
</form>

<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript">
    function register(utype) {
        param = {

            account: $("#e").val(),
            password: $("#p").val(),
            age: $("#age").val(),
            userName: $("#n").val(),
            idNum: $("#idnum").val(),
            email: $("#email").val(),
            telNum: $("#pnum").val(),
            gender: $("input[name='gender']:checked").val(),
            utype: utype
        }
        $.ajax({
            url: 'loginCtrl/register',
            type: 'post',
            data: param,
            success: function (res) {
                if (res.state ===200){
                    alert(res.message+",请登录")
                    window.location.href="/";
                }
                if (res.data!=null){
                    $("#msg").html(res.data[0].defaultMessage);
                    $("#msg").css('color', 'red');
                }
            }
        })
    }

    $("#e").change(function () {
        $.ajax({
            url: 'loginCtrl/JYYHM',
            type: 'post',
            data: {
                account: $("#e").val()
            }, success: function (res) {
                if (res.state === 201) {
                    $("#msg").html(res.message);
                    $("#msg").css('color', 'red');
                } else {
                    $("#msg").html(res.message);
                    $("#msg").css('color', 'green');
                }
            }
        })
    })
</script>
</body>
</html>